button {
  align-self: center;
  background-color: white;  
  box-shadow: 2px 4px 4px #0000009F;
  color: #272626;
  cursor: pointer;
  padding: 16px;
  width: 150px;
  font-size: 1.2rem;
}

button:active {
  background-color: #7CA6B7;
  box-shadow: 2px 2px 4px #0000009F inset;
}