:root {
  --bc: antiquewhite;
}

* {
  font-family: FontAwesome;
  transition: 0.7s;
  border: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #dadada;
  overflow-x: hidden;
  background-color: rgb(30, 30, 30);
}

h1,
.header>a {
  font-size: 5rem;
  margin: 0 3vw;
  color: black;
  text-shadow: -1px 1px 5px white, 1px -1px 5px #444;
  font-weight: bold;
}

.groupTitle {
  height: 10vh;
  font-size: 4rem;
  margin: 0 5%;
  color: rgb(200, 200, 200);
}

.header {
  background-color: var(--bc);
  height: 15vh;
  width: 100vw;
  border-radius: 0 0 10vh 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(185deg,
  brown,
  red
  );
  position: sticky;
  top: 0;
  z-index: 100;
}

.newTierlist {
  display: flex;
  width: 10vh;
  height: 10vh;
  border-radius: 2vh;
  background-color: grey;
  margin: 0 3vw;
  font-size: 5rem;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.listOfTierlists {
  margin-top: 2vh;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 40vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.agroup {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  height: 30vh;
  background-color: rgb(120, 120, 120);
  border-radius: 10vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.group {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  height: 25vh;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.group::-webkit-scrollbar {
  width: 0;
}

.agroup>button {
  position: relative;
  display: flex;
  width: 30px;
  height: 30px;
  margin: 0;
  font: bold 30px arial, Helvetica, sans-serif;
  box-shadow: 1px 1px 5px black;
  text-align: center;
  background: transparent;
  transform: rotate(90deg);
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgb(120, 120, 120);
}

.agroup>button:first-child {
  top: -0.3vh;
  margin-bottom: -30px;
}

.agroup>button:last-child {
  margin-top: -30px;
}

.hiddenButton{
  opacity: 0;
}

.agroup>button:hover {
  background-color: rgb(30, 30, 30);
  color: rgb(200, 200, 200);
  cursor: pointer;
}

.tierlists {
  display: flex;
  flex-wrap: wrap;
  width: 25vh;
  height: 25vh;
  background-color: rgb(30, 30, 30);
  align-items: center;
  justify-content: center;
  margin: 0 2vh;
  border-radius: 5vh;
  overflow: hidden;
}

.tiernames {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-inline: 5%;
  font-size: 4vh;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  color: rgb(200, 200, 200);
  text-decoration: none;
  order: 1;
  overflow: hidden;
  margin: 0;
}

.tierlists:hover > .tierimg{
  opacity: 0;
}

.tierimg {
  position: relative;
  top: -100%;
  width: 100%;
  aspect-ratio: 1/1;
  order: 2;
  border-radius: 3vh;
  overflow: hidden;
  opacity: 1;
  background-color: rgb(30, 30, 30);
}

.newTierPanel {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  height: 90vh;
  margin: 5vh 5vw;
  background-color: #382626;
  position: fixed;
  top: -100vh;
  z-index: 1000;
  border-radius: 10vh;
  padding: 2vh 2vw;
  align-items: center;
  gap: 3vh;
}

.newTierPanelDown {
  top: 0%;
}

.panelOnTop {
  display: flex;
  width: 100%;
  height: 16vh;
  justify-content: space-between;
  gap: 2vw;
}

.panelOnTop>input {
  width: 100%;
  height: 100%;
  background-color: white;
  font-weight: bold;
  font-size: 4rem;
  border-radius: 10vh;
}

.panelOnBottom{
  display: flex;
  width: 100%;
  height: 54vh;
  justify-content: space-between;
  gap: 2vw;
}

#imgContainer {
  width: 54vh;
  height: 54vh;
  overflow: hidden;
  border-radius: 10vh;
  background-color: #FFFFFF;
}

#exempleOfTier{
  width: 100%;
  height: 100%;
  margin: 0;
}

.test {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: calc(85vw - 54vh);
  height: fit-content;
  gap: 2vh;
}

#topics {
  display: grid;
  grid-template-columns: 25.5% 20% 20% 25.5%;
  grid-template-rows: 7vh 7vh 7vh 7vh 7vh;
  row-gap: 2vh;
  width: 100%;
  height: 43vh;
  justify-self: end;
  justify-content: space-between;
}

.topic {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  background-color: white;
  color: black;
  font-size: 1.5vw;
  font-weight: bold;
}

.clicked {
  background-color: black;
  box-shadow: 0 0 15px white;
  color: white;
  border-radius: 15vh;
}

.buttons{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cancel,
.confirm {
  display: flex;
  background-color: white;
  width: 48.5%;
  height: 8vh;
  color: black;
  font-weight: bold;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  text-justify: center;
  border-radius: 10vh;
}

.cancel:hover,
.confirm:hover,
.newTierlist:hover,
.topic:hover {
  cursor: pointer;
}